<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxu5LycCrSBGFndRjLCN0MsTY19yrmmJA</string>
	<key>GCM_SENDER_ID</key>
	<string>73566393303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.padc.wechatClone</string>
	<key>PROJECT_ID</key>
	<string>socialappproject-8090c</string>
	<key>STORAGE_BUCKET</key>
	<string>socialappproject-8090c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73566393303:ios:e2a3f23bd2fe67029cb192</string>
</dict>
</plist>